* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: rgba(0, 0, 0, .37);
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid; /* Add border style (e.g., solid) */
    width: 100%;
    padding: 20px;
}

.navbar .links {
    flex-grow: 1; /* Allow links to take up remaining space */
}

.navbar .links a {
    text-decoration: none;
    color: gray;
    font-weight: 500;
    padding: 0 20px;
    display: block;
}

.navbar .links a:hover {
    color: black;
}

.navbar .icons {
    display: flex;
    align-items: center;
}

.navbar .icons a {
    font-size: 20px;
    margin: 0 10px;
    color: black;
    opacity: 0.5;
}

.navbar .icons a:hover {
    opacity: 1;
}

.header-img {
    height: 400px;
    background: no-repeat center top / cover url("stihli-a-fit-spanek-01.jpg");
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .service {
    width: 100%;
}

.text_item p:first-child {
    color: rgba(0, 0, 0, .6);
    font-weight: 300;
    margin-bottom: 5px;
}

.img_item {
    border: 1px solid black;
    width: 100%;
    height: 120px;
}

.text_item {
    width: 100%;
}

main .service .item {
    margin-top: 30px;
}

.item .img_item {
    font-size: 16px;
}

main .sidebar {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 380px;
    padding: 0 20px;
    text-align: left;
}

.side_title {
    font-size: 25px;
    color: black;
    margin: 15px 0;
}

.contain {
    margin-bottom: 20px;
}

.contain ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.contain ul a {
    text-decoration: none;
    color: gray;
}

.contain ul li {
    padding: 5px 0;
}

.contain a:hover {
    text-decoration: underline;
    color: black;
}

hr {
    margin: 10px 0;
}

/* Media Queries for Responsive Design */
@media screen and (min-width: 768px) {
    .navbar {
        padding: 20px 80px;
    }

    .navbar .links a {
        padding: 0 40px;
    }

    main {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    main .service {
        max-width: calc(100% - 380px);
        margin-right: 20px;
    }
}
